*{
  cursor: none;
  color: #04ff00;
  background-color: #000000;
  font-family: Helvetica;
}

h1{
  background: none;
  position: absolute;
  top: 40%;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
}
.nav ul {
  position: absolute;
  background: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  background: none;
  float: left;
}

.nav li a {
  background: none;
  display: block;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.nav li a:hover {
  cursor: pointer;
}
